<nav class="navbar navbar-expand bg-dark navbar-dark">
    <div class="container">
      <h2 class="navbar-brand m-0 text-uppercase" >Note</h2>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown text-white">
            <a class="nav-link dropdown-toggle  text-white"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{MenuName|uppercase}}
            </a>
            <ul class="dropdown-menu bg-dark">
              <li *ngIf="!islogin"><a class="dropdown-item  text-white" routerLink="/login" >Login</a></li>
              <li *ngIf="!islogin"><a class="dropdown-item  text-white" routerLink="/register"  >Register</a></li>
              <li *ngIf="islogin"><a class="dropdown-item  text-white" (click)="Logout()" routerLink="/login" routerLinkActive="text-bg-danger" >Logout</a></li>
              
            </ul>
          </li>

        </ul>

      </div>
    </div>
  </nav>