 <section class="mt-4 d-flex justify-content-center ">
    <div class="row g-0 shadow rounded overflow-hidden w-100 align-items-center">
        <div class="col-lg-8">
            <div class="image d-none d-lg-block">
            </div>
        </div>
        <div class="col-lg-4">

            <form class="px-4 py-lg-0 py-md-4 py-4 " [formGroup]="loginForm" (ngSubmit)="Login()">
                <h1 class="text-uppercase fs-1 text-center">Login</h1>
                <div *ngIf="Error.length>0" class="alert alert-danger">
                    <p >{{Error}}</p>
                </div>
      

                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Email</mat-label>
                  <input type="email" matInput formControlName="email"  placeholder="Ex. pat@example.com">
                  <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
                    Email is <strong>required</strong>
                  </mat-error>
                  <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
                    Email is <strong>notValid</strong>
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Enter your password</mat-label>
                    <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
                        Age is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
        
                  <button [disabled]="loginForm.invalid" class="w-100" mat-raised-button color="primary">Login</button>

              </form>
        </div>
    </div>
    
</section> 